.item {
    box-shadow: 0 0 3px #ccc;
    padding: 15px;
    margin-top: 20px;
}

.item .name {
    color: black;
    font-size: 20px;
}

.item .price {
    text-align: center;
    color: #2bc2ff;
    font-size: 20px;
}

.item button {
    margin-top: 10px;
    background-color: #3ed28d !important;
    color: whitesmoke;
}

input {
    border: 1px solid #3ed28d;
    box-shadow: none !important;
    outline: none !important;
}
input:focus {
    box-shadow: none !important;
    outline: none !important;
}
.ant-select-selector {
    border: 1px solid #3ed28d;
    box-shadow: none !important;
    outline: none !important;
}
